@model XAXBEngine

<h2>1A2B猜數字遊戲</h2>
    
@if (Model.IsGameOver())
{
    <a asp-controller="GuessNumber" asp-action="Index">
        <input type="button" value="重玩" />
    </a>
}
else
{
    @using (Html.BeginForm("Guess", "Game", FormMethod.Post))
    {
        <label for="guess">請輸入你的猜測：</label>
        <input type="text" id="guess" name="Guess" value="" />
        <input type="submit" value="猜！" />
    }
}
    


@if (!string.IsNullOrEmpty(Model.Result))
{
    <div>猜測結果：@Model.Result</div>
}

@{
    
    if (Model.IsGameOver())
    {
        <p style="color: red; font-weight: bold">
            答對了！共猜了 @Model.Records.Count 次
        </p>
    }
}


<div>
@{
    foreach (var record in @Model.Records)
    {
            <span>@record.Guess: @record.Result</span><br>
    }
}
</div>